.gallery-container {
  max-width: max-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gallery {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}
.page-title {
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap
}

input[type="text"] {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 250px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.image-box img {
  max-width: 100%;
  height: auto;
}

