.gallery {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input[type='text'] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-item {
  flex: 0 0 calc(33.33% - 20px); /* Three images per row with space between */
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.image-box {
  width: 200px; /* Set a fixed width for the image container */
  height: 200px; /* Set a fixed height for the image container */
  overflow: hidden; /* Ensure the image does not exceed the container */
}

.image-item img {
  width: 100%; /* Make the image fill its container */
  height: 100%; /* Make the image fill its container */
  display: block;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}

.image-details {
  margin-top: 10px;
}
