.display-page-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.display-container {
    margin-top: 20px;
    
}
  
.display-canvas {
    display: none;
}
  
.names-detected {
    font-size: 1.2em;
    color: #333;
    margin-top: 15px;
}

.page-title {
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap
  }

  .display-image {
    max-width: 400px;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 20px;
  }